body {
    background-color: #ccc;
    font-family: "Gill Sans", sans-serif;
    margin: 1%;
}

.docToC {
    background-color: #eee;
    padding-bottom: 1em;
}

.docToC ul {
    margin: 0px;
    padding:1em;
    list-style-type:none;
    -moz-column-width: 15em;
    -moz-column-gap: 1em;
    column-width: 15em;
    column-gap: 1em;
    -webkit-column-width: 15em;
    -webkit-column-gap: 1em;
}

.docToC > ul > li > a {
    color: #fff;
    background-color: #36c;
    padding: 0.3em;
    display:block;
}
.docToC > ul > li  {
    -webkit-column-break-inside:avoid;
}

.docToC > ul > li > ul > li > a{
    color: #333;
    font-size: 0.9em;
}

.docToC li {
    background-color: #fff;
}

.docToC a {
    color: #006;
}

.docToC a:link {text-decoration:none;}
.docToC a:visited {text-decoration:none;}
.docToC a:hover {text-decoration:underline;}
.docToC a:active {text-decoration:underline;}

.content {
    padding: 3%;
    background-color: #fff;
}

h3 {
    padding: 0.5em;
    background-color: #36c;
    color: #fff;
}

h4 {
    font-family: monospace;
    background-color: #ace;
    padding: 0.5em;
}

.docSection {
    background-color: #eee;
    padding: 1em;
}

