body {
    background-color: #ccc;
    font-family: "Gill Sans", sans-serif;
    margin: 1%;
}

.docToC {
    background-color: #eee;
}

.docToC ul {
    list-style-type:none;
}

.docToC a {

}

.docToC a:link {text-decoration:none;}
.docToC a:visited {text-decoration:none;}
.docToC a:hover {text-decoration:underline;}
.docToC a:active {text-decoration:underline;}

.content {
    padding: 3%;
    background-color: #fff;
}

h3 {
    padding: 0.5em;
    background-color: #36c;
    color: #fff;
}

h4 {
    font-family: monospace;
    background-color: #ace;
    padding: 0.5em;
}

.docSection {
    background-color: #eee;
    padding: 1em;
}

